
.light-box {
  
  background-color: #ffffff;
  color: #111827;
  /* padding: 2rem; */
  border-radius: 1rem;
  box-shadow: 0 0 0 1px #e5e7eb;
  width: 100%;
  max-width: 800px;
  margin: auto;
  font-family: 'Inter', sans-serif;
  /* height: 120px; */
  width: 600px;
  height: 450px;
  margin-top: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
  padding-left: 12px;
}

.title {
  font-size: 1rem;
  color: #6b7280;
  margin-bottom: 0.5rem;
}

.big-number {
  font-size: 2rem;
  font-weight: bold;
  color: #494949;
  margin: 0;
  margin-left: 12px;
}

.growth {
  color: #36005a;
  font-size: 0.9rem;
}

.label {
  color: #6b7280;
  margin-left: 4px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-style: italic;
font-size: 14px;

}

.dropdown {
  background-color: #f3f4f6;
  color: #111827;
  border: 1px solid #e5e7eb;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  cursor: pointer;
}

