.filter {
  width: 250px;
  padding: 20px;
  background-color: #fff;
  font-family: 'Arial', sans-serif;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  margin-top: 16px;
  height: auto;
  padding-bottom: 50px;
  margin-top: 40px;
}

.half1 {
  width: 300px;
  height: 100vh;
  /* background: #000; */
  flex-shrink: 0; 
}

.half2 {
  /* background: #7c2121; */
  margin-top: 36px;
  height: auto;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(165px, 1fr)); 
  gap: 21px;
  padding: 6px;
  width: 700px;
  margin-left: 12px;
}


.full{
  display: flex;
}

.filtertop{
  display: flex;
  justify-content:space-between;
}

.filter img {
  width: 24px;
  height: 24px;
}

.filterlabel {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

.clearbutton {
  color: red;
  font-weight: bold;
  cursor: pointer;
  text-align: right;
  margin-bottom: 20px;
}

.sidetitle {
  font-weight: bold;
  margin: 20px 0 10px 0;
}

.dropdown {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.rating {
  width: 100%;
  margin-top: 10px;
}

.ratingvalue {
  text-align: right;
  font-weight: bold;
  margin-top: 5px;
}

label {
  display: flex;
  align-items: center;
  margin: 8px 0;
  gap: 8px;
  font-size: 14px;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #3b82f6; /* blue style */
  cursor: pointer;
}